<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlockageMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BlockageMonitor.Properties.Settings>
            <setting name="DayColour" serializeAs="String">
                <value>210, 220, 230</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>Default.SBM</value>
            </setting>
            <setting name="setVehicle_numSections" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="setPlanterSpeed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="setPlanterRowWidth" serializeAs="String">
                <value>76.2</value>
            </setting>
            <setting name="setPlanterTargetPopulation" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="setPlanterDoublesFactor" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="setMenu_isMetric" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setPlanterAlarm_Active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setPlanter_Active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setPlanterSimulator_Active" serializeAs="String">
                <value>False</value>
            </setting>
        </BlockageMonitor.Properties.Settings>
    </userSettings>
</configuration>